.crea-mansory {
  display: flex;
  position: relative;
}
.crea-mansory .mansory-item {
  display: block;
  margin: 0 0 12px 12px;
  overflow: hidden;
  position: relative;
  background-color: #ececec;
}
.crea-mansory .mansory-item .bg {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.crea-mansory .mansory-item .bg img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transform: scale(1);
  transition: all 0.5s;
}
.crea-mansory .name {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: max-content;
  padding: 15px 15px;
  z-index: 2000;
}
.crea-mansory .mansory-item .bg::after {
  background: linear-gradient(180deg, transparent, rgb(0 0 0 / 29%) 64.06%);
  bottom: 0;
  content: "";
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: 1000;
  left: 0;
  right: 0;
}
.crea-mansory .mansory-item:hover .bg img {
  transform: scale(1.05);
}
